.o_label_sheet {
    div.o_label_medium_text {
        font-size: 160%;
        line-height: 130%;
    }
    &.o_label_4x2p5 {
        font-size:90%;
        width: 101.6mm;
        height: 63.5mm;
    }
}
